/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:wght@600&family=Nunito:wght@300;700&family=Orbitron&display=swap');

/* default style fix */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

Default Styling

html {
    color-scheme: light;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.1;
  }

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
  }

  /* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* end of default styles */

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: minmax(100px, 200px) minmax(400px, 80%);
    background-color: #e2e8f0;
    font-family: Nunito;
}

.left_sb {
    background-color: #0ea5e9;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding-left: 20px;
}

.left_sb .logo {
    width: 250px;
    margin-top: -70px;
}

.sb-links {
    display: flex;
    flex-direction: column;
    gap: 70px;
    margin-left: 20px;
}

.sb-links a {
    text-decoration: none;
}

.sb-links a:hover {
    color: gold;
}

.sb-links li {
    list-style-type: none;
    font-weight: 700;
    font-size: 1.3rem;
    color: ghostwhite;
}

.sb-links li:hover {
    color: #cbd5e1;
}

.sb-links li:active {
    transform: scale(.95);
}

.sb-links li i {
    margin-right: 20px;
}

.tabs ul,
.admin ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav {
    background-color: ghostwhite;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.nav-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.nav-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 0px 5px 10px 0px rgb(100, 116, 139, 0.2);
}

.search {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.search .searchbar {
    background-color: #e2e8f0;;
    width: 60%;
    height: 30px;
    border-radius: 25px;
    border: none;
    padding: 10px;
}

.id {
    grid-column: 2 / 3;
    display: flex;
    gap: 30px;
    align-items: center;
    font-weight: 700;
    font-size: 1.1rem;
}

.id a {
    text-decoration: none;
    color: black;
}

.id i:active {
    transform: scale(1.1);
    color: #0ea5e9;
}

.id a:visited {
    color: #0ea5e9;
}

.welcome {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    margin-left: 40px;
    gap: 20px;
    font-weight: 600;
}

.welcome-text {
    display: flex;
    flex-direction: column;
}

.welcome-text h2 {
    font-size: 1.3rem;
}

.buttons {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    gap: 30px;
}

.buttons button {
    width: 100px;
    height: 40px;
    background-color: #0ea5e9;
}

.buttons button:hover {
    background-color: #0369a1;
    cursor: pointer;
}

.buttons button:active {
    transform: scale(.9);
}

.wrapper {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: minmax(400px, 70%) minmax(300px, 30%);
    padding: 20px;
    gap: 20px;
}

.wrapper h2 {
    font-weight: 700;
    font-size: 1.2rem;
}

.wrapper p {
    color: gray;
}

.main {
    display: flex;
    flex-direction: column;
}

.grid_items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(3, minmax(200px, 33%));
    gap: 20px;
    margin-top: 10px ;
}

.grid_item {
    background-color: ghostwhite;
    border-radius: 5px;
    border-left: solid gold 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 1rem;
    box-shadow: 10px 10px 10px 0px rgb(100, 116, 139, 0.2);
}

.grid_item h3 {
    font-weight: 700;
}

.grid_item .icons {
    align-self: flex-end;
    justify-self: flex-end;
    display: flex;
    gap: 15px;
}

.grid_item .icons i:hover {
    cursor: pointer;
    color: #0ea5e9;
}

.grid_item .icons i:active {
    transform: scale(.95);
}

.right_sb {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.announcement-items {
    background-color: ghostwhite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    gap: 20px;
    border-radius: 5px;
    font-size: 0.8rem;
    box-shadow: 10px 10px 10px 0px rgb(100, 116, 139, 0.2);
    margin-top: 10px;
}

.announcement-items > div {
    padding-bottom: 20px;
}

.a-item-1, .a-item-2 {
    border-bottom: solid 1px #cbd5e1;
}

.announcement-items > div > h4 {
    font-weight: 700;
}

.trend-items {
    background-color: ghostwhite;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 0.8rem;
    box-shadow: 10px 10px 10px 0px rgb(100, 116, 139, 0.2);
    margin-top: 10px;
}

.trend-item {
    display: flex;
    width: 80%;
    gap: 20px;
    align-items: center;
}

.trend-item a img {
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

.trend-item a img:hover {
    transform: scale(1.02);
}

.trend-item .trend-text {
    display: flex;
    flex-direction: column;
}

.trend-item span {
    margin-bottom: 5px;
}

.trend-item span:hover {
    color: #0ea5e9;
    cursor: pointer;
}

.buttons button {
    background-color: #0ea5e9;
    border-radius: 25px;
    border: none;
    color: ghostwhite;
    font-weight: 600;
}

.id a img {
    width: 50px;
    border-radius: 50%;
}

.welcome a img {
    width: 75px;
    border-radius: 50%;
}